/*------------------------------------*\
    STYLE.SCSS
\*------------------------------------*/
/**
 * Here we start to pull everything together into one big stylesheet.
 *
 * SETUP............Settings, tools, mixins, etc.
 * GENERIC..........normalize.css, reset, shared styles, etc.
 * BASE.............Basic HTML elements.
 * OBJECTS..........Objects, abstractions, design patterns.
 * GUI..............Components and modules.
 * TRUMPS...........Helpers, overrides, ‘trump-cards’.
 */
/*------------------------------------*\
    #SETUP
\*------------------------------------*/
/**
 * Settings, variables and tools.
 */
/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
/**
 * Pull in all the settings we require for this project.
 */
/*------------------------------------*\
    #VARS
\*------------------------------------*/
/**
 * Generic, non-specific variables.
 */
/**
 * Framework variables. We don’t need to edit these, they’re just handy
 * variables sourced from other settings.
 */
/**
 * URLs
 */
/*------------------------------------*\
    #BRAND
\*------------------------------------*/
/*------------------------------------*\
    #COLOR
\*------------------------------------*/
/*------------------------------------*\
    #TYPE
\*------------------------------------*/
/**
 * Using `url()` instead of `base64` to cut down CSS size. The performance with this method seems to be better.
 */
@font-face {
  font-family: "bv-main-icon-set";
  src: url("/_assets/fonts/icons/bv-main-icon-set.eot?-1r9580");
  src: url("/_assets/fonts/icons/bv-main-icon-set.eot?#iefix-1r9580") format("embedded-opentype"), url("/_assets/fonts/icons/bv-main-icon-set.woff?-1r9580") format("woff"), url("/_assets/fonts/icons/bv-main-icon-set.ttf?-1r9580") format("truetype"), url("/_assets/fonts/icons/bv-main-icon-set.svg?-1r9580#bv-main-icon-set") format("svg");
  font-weight: normal;
  font-style: normal; }

/*------------------------------------*\
    #FUNCTIONS
\*------------------------------------*/
/**
 * Some nice functions we can use to make our lives easier. Feel free to add as
 * many as you like!
 */
/**
 * Strip the unit from a number (e.g. 18px --> 18).
 */
/**
 * Basic maths on numbers.
 */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
 * Some nice mixins we can use to make our lives easier. Feel free to add as
 * many as you like!
 */
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 * 
   `@include font-size(10px);`
 * 
 */
/**
 * Create vendor-prefixed CSS in one go, e.g.
 * 
   `@include vendor(border-radius, 4px);`
 * 
 */
/**
 * A simple top-to-bottom linear gradient with fallback color of our choice.
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * These are far reaching styles that affect and underpin every element on the
 * page, e.g. `* {}`.
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * Pull in all our generic styles, e.g. resets.
 */
/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
 * A more considered reset; more of a restart... 
 * As per: csswizardry.com/2011/10/reset-restarted
 */
/**
 * Let’s make the box model all nice, shall we…?
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * The usual...
 */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title], dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
a, u, ins {
  text-decoration: none; }

/**
 * Apply faux underline via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/**
 * So that `alt` text is visually offset if images don’t load.
 */
img {
  font-style: italic; }

/*------------------------------------*\
    #SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem; }

/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf {
  zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * These are base HTML elements, things with no classes on them, e.g. `h1 {}`,
 * `blockquote {}`.
 */
/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * Pull in all the base files we want.
 */
/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/**
 * Page-level styling, e.g. `html` and `body` elements, etc.
 */
/**
 * 1. One off bits of maths to get our base font size in ems and our base line
 *    height in a unitless value.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [1] */
  color: #7c8391;
  background-image: url(http://basehold.it/i/24); }

/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a {
  color: #1561d3; }

/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/
/**
 * These are design-free objects, abstractions and design patterns. These create
 * constructs that you lay your designs over.
 */
/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/
/**
 * Pull in all our objects and abstractions.
 */
/*------------------------------------*\
    #FLAG
\*------------------------------------*/
/**
 * The flag object is a variation of Nicole Sullivan’s media object. It is used
 * to lay out image-like and text-like content side-by-side.
 */
.flag {
  display: table;
  width: 100%; }

.flag__image, .flag__body {
  display: table-cell;
  vertical-align: top; }
  .flag--middle .flag__image, .flag--middle .flag__body {
    vertical-align: middle; }
  .flag--bottom .flag__image, .flag--bottom .flag__body {
    vertical-align: bottom; }

.flag__image {
  padding-right: 24px; }
  .flag__image > img {
    display: block;
    max-width: none; }
  .flag--rev .flag__image {
    padding-right: 0;
    padding-left: 24px; }

.flag__body {
  width: 100%; }

/**
 * Size variations.
 */
.flag--small > .flag__image {
  padding-right: 12px; }
.flag--small.flag--rev > .flag__image {
  padding-right: 0;
  padding-left: 12px; }

.flag--large > .flag__image {
  padding-right: 48px; }
.flag--large.flag--rev > .flag__image {
  padding-right: 0;
  padding-left: 48px; }

/**
 * Gutterless flags. Extends `.flag`.
 */
.flag--gutterless > .flag__image {
  padding-right: 0;
  padding-left: 0; }

.icon {
  font-family: "bv-main-icon-set";
  speak: none;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*------------------------------------*\
    #GUI
\*------------------------------------*/
/**
 * These are your components and modules; things like buttons, accordions,
 * carousels, etc.
 */
/*------------------------------------*\
    #GUI
\*------------------------------------*/
/**
 * Pull in all our GUI components.
 */
.icon--tags:before {
  content: "\e0ba"; }

.icon--history:before {
  content: "\e100"; }

.icon--alarm:before {
  content: "\e10a"; }

.icon--calendar:before {
  content: "\e112"; }

.icon--calendar2:before {
  content: "\e115"; }

.icon--calendar3:before {
  content: "\e116"; }

.icon--user:before {
  content: "\e185"; }

.icon--users:before {
  content: "\e186"; }

.icon--user-plus:before {
  content: "\e187"; }

.icon--user-minus:before {
  content: "\e189"; }

.icon--user-cancel:before {
  content: "\e18b"; }

.icon--user-block:before {
  content: "\e18c"; }

.icon--users2:before {
  content: "\e18d"; }

.icon--search:before {
  content: "\e1ba"; }

.icon--search2:before {
  content: "\e1bb"; }

.icon--zoomin:before {
  content: "\e1bc"; }

.icon--zoomout:before {
  content: "\e1bd"; }

.icon--key:before {
  content: "\e1ca"; }

.icon--wrench:before {
  content: "\e1d7"; }

.icon--wrench2:before {
  content: "\e1d8"; }

.icon--wrench3:before {
  content: "\e1da"; }

.icon--settings:before {
  content: "\e1db"; }

.icon--equalizer:before {
  content: "\e1dc"; }

.icon--cog:before {
  content: "\e1df"; }

.icon--cogs:before {
  content: "\e1e0"; }

.icon--cog2:before {
  content: "\e1e1"; }

.icon--hammer:before {
  content: "\e1e8"; }

.icon--tools:before {
  content: "\e1e9"; }

.icon--screwdriver:before {
  content: "\e1ea"; }

.icon--wand:before {
  content: "\e1ec"; }

.icon--health:before {
  content: "\e1ee"; }

.icon--bug:before {
  content: "\e1f2"; }

.icon--pie:before {
  content: "\e1f7"; }

.icon--pie2:before {
  content: "\e1f8"; }

.icon--pie3:before {
  content: "\e1f9"; }

.icon--pie4:before {
  content: "\e1fc"; }

.icon--stats:before {
  content: "\e1fe"; }

.icon--bars:before {
  content: "\e201"; }

.icon--bars2:before {
  content: "\e203"; }

.icon--bars3:before {
  content: "\e204"; }

.icon--bars4:before {
  content: "\e205"; }

.icon--bars5:before {
  content: "\e206"; }

.icon--stats-up:before {
  content: "\e207"; }

.icon--stats-down:before {
  content: "\e208"; }

.icon--stairs-down:before {
  content: "\e209"; }

.icon--stairs-down2:before {
  content: "\e20a"; }

.icon--chart:before {
  content: "\e20b"; }

.icon--medal:before {
  content: "\e217"; }

.icon--crown:before {
  content: "\e21c"; }

.icon--trophy:before {
  content: "\e21e"; }

.icon--meter:before {
  content: "\e235"; }

.icon--meter-slow:before {
  content: "\e237"; }

.icon--meter-medium:before {
  content: "\e238"; }

.icon--meter-fast:before {
  content: "\e239"; }

.icon--lamp:before {
  content: "\e24d"; }

.icon--lamp2:before {
  content: "\e24e"; }

.icon--remove:before {
  content: "\e24f"; }

.icon--remove2:before {
  content: "\e250"; }

.icon--briefcase:before {
  content: "\e257"; }

.icon--puzzle:before {
  content: "\e26e"; }

.icon--puzzle2:before {
  content: "\e26f"; }

.icon--target:before {
  content: "\e27b"; }

.icon--shield:before {
  content: "\e27e"; }

.icon--power:before {
  content: "\e28e"; }

.icon--switch:before {
  content: "\e290"; }

.icon--clipboard:before {
  content: "\e295"; }

.icon--signup:before {
  content: "\e296"; }

.icon--clipboard2:before {
  content: "\e297"; }

.icon--clipboard3:before {
  content: "\e298"; }

.icon--list:before {
  content: "\e299"; }

.icon--list2:before {
  content: "\e29a"; }

.icon--list3:before {
  content: "\e29b"; }

.icon--grid:before {
  content: "\e2a0"; }

.icon--grid2:before {
  content: "\e2a1"; }

.icon--tree:before {
  content: "\e2a7"; }

.icon--menu:before {
  content: "\e2ad"; }

.icon--menu2:before {
  content: "\e2ae"; }

.icon--cloud:before {
  content: "\e2b3"; }

.icon--cloud2:before {
  content: "\e2b4"; }

.icon--cloud3:before {
  content: "\e2b5"; }

.icon--cloud-download:before {
  content: "\e2b6"; }

.icon--cloud-upload:before {
  content: "\e2b7"; }

.icon--download:before {
  content: "\e2ba"; }

.icon--upload:before {
  content: "\e2bb"; }

.icon--earth:before {
  content: "\e2c7"; }

.icon--link:before {
  content: "\e2cd"; }

.icon--flag:before {
  content: "\e2d1"; }

.icon--attachment:before {
  content: "\e2d7"; }

.icon--eye:before {
  content: "\e2d9"; }

.icon--eye-blocked:before {
  content: "\e2da"; }

.icon--bookmark:before {
  content: "\e2e3"; }

.icon--bookmark2:before {
  content: "\e2e4"; }

.icon--bookmarks:before {
  content: "\e2e5"; }

.icon--spotlight:before {
  content: "\e2e7"; }

.icon--starburst:before {
  content: "\e2e8"; }

.icon--star:before {
  content: "\e2ff"; }

.icon--star2:before {
  content: "\e300"; }

.icon--star3:before {
  content: "\e301"; }

.icon--heart:before {
  content: "\e30a"; }

.icon--heart2:before {
  content: "\e30b"; }

.icon--heart-broken:before {
  content: "\e30c"; }

.icon--stack-empty:before {
  content: "\e340"; }

.icon--stack-plus:before {
  content: "\e341"; }

.icon--stack-minus:before {
  content: "\e342"; }

.icon--stack-star:before {
  content: "\e343"; }

.icon--stack-picture:before {
  content: "\e344"; }

.icon--stack-down:before {
  content: "\e345"; }

.icon--stack-up:before {
  content: "\e346"; }

.icon--stack-cancel:before {
  content: "\e347"; }

.icon--stack-checkmark:before {
  content: "\e348"; }

.icon--stack-list:before {
  content: "\e349"; }

.icon--stack-user:before {
  content: "\e34e"; }

.icon--stack:before {
  content: "\e34f"; }

.icon--warning:before {
  content: "\e355"; }

.icon--warning2:before {
  content: "\e356"; }

.icon--plus-circle:before {
  content: "\e35e"; }

.icon--plus-circle2:before {
  content: "\e35f"; }

.icon--minus-circle:before {
  content: "\e360"; }

.icon--minus-circle2:before {
  content: "\e361"; }

.icon--blocked:before {
  content: "\e364"; }

.icon--checkmark-circle:before {
  content: "\e367"; }

.icon--checkmark-circle2:before {
  content: "\e368"; }

.icon--close:before {
  content: "\e36c"; }

.icon--close2:before {
  content: "\e36d"; }

.icon--close3:before {
  content: "\e36e"; }

.icon--close4:before {
  content: "\e36f"; }

.icon--checkmark:before {
  content: "\e370"; }

.icon--checkmark2:before {
  content: "\e371"; }

.icon--play:before {
  content: "\e385"; }

.icon--pause:before {
  content: "\e386"; }

.icon--stop:before {
  content: "\e387"; }

.icon--backward:before {
  content: "\e388"; }

.icon--forward:before {
  content: "\e389"; }

.icon--first:before {
  content: "\e38a"; }

.icon--last:before {
  content: "\e38b"; }

.icon--previous:before {
  content: "\e38c"; }

.icon--next:before {
  content: "\e38d"; }

.icon--eject:before {
  content: "\e38e"; }

.icon--volume-high:before {
  content: "\e38f"; }

.icon--volume-medium:before {
  content: "\e390"; }

.icon--volume-low:before {
  content: "\e391"; }

.icon--volume-mute:before {
  content: "\e392"; }

.icon--volume-mute2:before {
  content: "\e393"; }

.icon--volume-increase:before {
  content: "\e394"; }

.icon--volume-decrease:before {
  content: "\e395"; }

.icon--loop:before {
  content: "\e3a5"; }

.icon--loop2:before {
  content: "\e3a7"; }

.icon--loop3:before {
  content: "\e3a8"; }

.icon--loop4:before {
  content: "\e3a9"; }

.icon--shuffle:before {
  content: "\e3aa"; }

.icon--arrow-up:before {
  content: "\e3b0"; }

.icon--arrow-right:before {
  content: "\e3b1"; }

.icon--arrow-down:before {
  content: "\e3b2"; }

.icon--arrow-left:before {
  content: "\e3b3"; }

.icon--arrow-up-left:before {
  content: "\e3b8"; }

.icon--arrow-up2:before {
  content: "\e3b9"; }

.icon--arrow-up-right:before {
  content: "\e3ba"; }

.icon--arrow-right2:before {
  content: "\e3bb"; }

.icon--arrow-down-right:before {
  content: "\e3bc"; }

.icon--arrow-down2:before {
  content: "\e3bd"; }

.icon--arrow-down-left:before {
  content: "\e3be"; }

.icon--arrow-left2:before {
  content: "\e3bf"; }

.icon--esc:before {
  content: "\e41e"; }

.icon--backspace:before {
  content: "\e41f"; }

.icon--tab:before {
  content: "\e422"; }

.icon--transmission:before {
  content: "\e423"; }

.icon--sort:before {
  content: "\e425"; }

.icon--checkbox-checked:before {
  content: "\e42e"; }

.icon--checkbox-unchecked:before {
  content: "\e42f"; }

.icon--checkbox-partial:before {
  content: "\e431"; }

.icon--radio-checked:before {
  content: "\e438"; }

.icon--circle:before {
  content: "\e43a"; }

.icon--circle2:before {
  content: "\e43b"; }

.icon--filter:before {
  content: "\e445"; }

.icon--newtab:before {
  content: "\e47c"; }

.icon--popout:before {
  content: "\e47e"; }

.icon--embed:before {
  content: "\e47f"; }

.icon--code:before {
  content: "\e480"; }

.icon--console:before {
  content: "\e481"; }

.icon--share:before {
  content: "\e48c"; }

.icon--googleplus:before {
  content: "\e493"; }

.icon--facebook:before {
  content: "\e498"; }

.icon--twitter:before {
  content: "\e49d"; }

.icon--feed:before {
  content: "\e4a0"; }

.icon--youtube:before {
  content: "\e4a3"; }

.icon--vimeo:before {
  content: "\e4a5"; }

.icon--github:before {
  content: "\e4ba"; }

.icon--skype:before {
  content: "\e4cd"; }

.icon--linkedin:before {
  content: "\e4cf"; }

.icon--libreoffice:before {
  content: "\e4e1"; }

.icon--file-pdf:before {
  content: "\e4e2"; }

.icon--file-word:before {
  content: "\e4e4"; }

.icon--file-excel:before {
  content: "\e4e5"; }

.icon--file-zip:before {
  content: "\e4e6"; }

.icon--file-powerpoint:before {
  content: "\e4e7"; }

.icon--file-xml:before {
  content: "\e4e8"; }

.icon--file-css:before {
  content: "\e4e9"; }

.icon--promo-history:before {
  content: "\e600"; }

.icon--position:before {
  content: "\e601"; }

.icon--placement:before {
  content: "\e602"; }

.icon--pie5:before {
  content: "\e603"; }

.icon--pie6:before {
  content: "\e604"; }

.icon--info:before {
  content: "\e605"; }

.icon--graph:before {
  content: "\e606"; }

.icon--Power:before {
  content: "\e607"; }

/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * These are helper classes and overrides that should take precedence over all
 * other styles, e.g. `.float--left {}`.
 */
/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * Pull in all our trumps and overrides.
 */
/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/
/**
 * A series of human-readable widths that can be combined with, and applied to
 * a multitude of other components and objects. Used primarily with
 * `.layout__item`s.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%; }

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }


.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
  width: 16.666%; }




.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%; }


.three-eighths {
  width: 37.5%; }


.five-eighths {
  width: 62.5%; }


.seven-eighths {
  width: 87.5%; }

/**
 * Tenths
 */
.one-tenth {
  width: 10%; }


.three-tenths {
  width: 30%; }




.seven-tenths {
  width: 70%; }


.nine-tenths {
  width: 90%; }

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%; }




.five-twelfths {
  width: 41.666%; }


.seven-twelfths {
  width: 58.333%; }




.eleven-twelfths {
  width: 91.666%; }

/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
/**
 * A selection of abstracted helper classes. Only use these if there is not
 * already a class on the element you wish to target.
 */
/**
 * Float rules. There is no `.float` class.
 */
.float--none {
  float: none !important; }

.float--right {
  float: right !important; }

.float--left {
  float: left !important; }

/**
 * Round corners.
 */
.soft {
  border-radius: 4px !important; }
