/*------------------------------------*\
    #USER
\*------------------------------------*/

.user--alt {
    .user__image,
    .user__details {
        display: inline-block;
        vertical-align: middle;
    }

    .user__name {
        color: $brand-alt-text-color--important;
    }
}