/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.logo {
    margin: double($brand--controls-spacing) 0;
    padding-top: 3.5em;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}