/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.logo {
    margin: 0;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
}

.logo--small {
    width: 12em;
    height: 2em;
}