/*------------------------------------*\
    #NAV
\*------------------------------------*/

// Applying transition to multiple selectors to avoid code duplication.

.nav {
    padding: 0;
}

    .nav__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .nav__item {
            position: relative;
            margin: 0;
        }

            .nav__toggler,
            .nav__link {
                position: relative;
                padding: $base--spacing--small;
                display: block;
                line-height: 2.5;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @extend .transition--all;

            }

            .nav__link {
                padding-left: $base--spacing + ($base--spacing--small / 1.5);

                &:before {
                    @extend .transition--all;
                }

                // Navigation "pipe".

                &:before {
                    position: absolute;
                    left: $base--spacing--small;
                    top: $base--spacing--small;
                    bottom: $base--spacing--small;
                    width: $base--spacing--small / 1.5;
                    content: "";
                    background: $base--link-color;
                }

                &:hover {

                    &:before {
                        top: $base--spacing--small / 2;
                        bottom: $base--spacing--small / 2;
                    }
                }


                // Basic icon styling.

                .icon {
                    position: relative;
                    top: .15em;
                    margin-right: $base--spacing--small;
                    margin-left: $base--spacing--small / 2;
                }

            }


    // Controller used to manipulate with the nav (e.g. navigation toggler).
    .nav__control {
        position: relative;
        padding: $base--spacing--small;
        display: block;
        text-align: center;

        @extend .cf;
        @extend .transition--all;

        &:last-child {
            margin-bottom: 0;
        }
    }

        .nav__toggler,
        .nav__value {
            display: block;
        }

        .nav__toggler {
            position: absolute;
            top: 0;
            width: 2em;
            display: block;
            text-indent: -9999px;
        }

        .nav__toggler--menu {
            left: 0;
            height: 100%;
        }

        .nav__toggler--menu-item {
            right: 0;
        }

        .nav__value {
            display: block;
        }


.nav--horizontal {

    .nav__list {
        @extend .cf;

        .no-flexbox & {
            width: 100%;
            display: table;
        }

        .flexbox & {
            display: flex;
            flex-wrap: wrap;
            // Center align text only if flexbox is available.
            text-align: center;
        }
    }

        .nav__item {

            .no-flexbox & {
                display: table-cell;
            }

            .flexbox & {

                flex: 1;
            }
        }

            .nav__link {
                padding: $base--spacing--small;

                &:before {
                    display: none;
                }

                .icon {
                    margin-left: auto;
                }
            }
}

// Not suitable with `nav--horizontal`.
.nav--collapsed {
    .nav__list {
        height: 0;
        overflow: hidden;
    }
}

@media all and (min-width: $base--breakpoint--small) {
    .nav--collapsed {
        .nav__list {
            height: auto;
        }
    }

    .nav--main.nav--collapsed {

        .nav__list {
            height: auto;
            overflow: visible;
        }

        // First level
        > .nav__list {
            > .nav__item {

                // Second level
                > .nav__list {

                    > .nav__item {

                        // Third level
                        .nav__list {
                            width: 0;
                            display: block;
                            overflow: hidden;
                            @extend .transition--all;
                        }

                        &:hover {
                            .nav__list {
                                width: 22em;
                            }
                        }
                    }
                }
            }
        }

        .nav__list {

        }

            .nav__item {

            }

                .nav__link {
                    text-overflow: clip;

                    .icon {
                        margin-right: $base--spacing * 1.5;
                    }

                    .toggler {
                        display: none;
                    }
                }
    }

    .nav__control {
        margin-top: $base--spacing;
    }
}